# 📦 Gerenciamento de Conexões Remotas
paramiko

# 📊 Manipulação e Análise de Dados
pandas
numpy

# 📈 Visualização de Dados
streamlit
matplotlib
plotly

# 🤖 Aprendizado de Máquina Federado
flwr
tensorflow

# 🐳 Gerenciamento de Contêineres Docker via Python
docker
